*,
*::after,
*::before{
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

body{
    box-sizing: border-box;
    padding: 1.5rem 1.5rem;
    background: linear-gradient( #200449, #f75b68) no-repeat;
    margin: 0 2rem 0 2rem;

    @media screen and (max-width: 40rem){
        margin: 0 1rem 0 1rem;
        padding: 1.5rem 1rem;
    }
}

li{
    list-style: none;
}

