body{
    font-size: $font-sm;
    font-family: 'Lato', sans-serif;
    color: $color-primary;
    font-weight: $font-weight;

    @media screen and (min-width: 100rem){
        font-size: $font-md;
    }
};


.menu{

    &__link:link,
    &__link:visited,{
        text-decoration: none;
        color: $color-primary;
        font-weight: $font-weight;
        transition: all .2s;
        padding: 1rem;
        
        @media screen and (max-width: 40rem){
            font-size: 1.5rem;
            padding: 0.5rem;
        }
    }

    &__item{
        width: 20%;
        transition: all .2s;

        @media screen and (max-width: 40rem){
            width: 32%;
        }
    
        &:hover{
            border-bottom: 1px solid $color-primary;
        }
    }
}



.logo__letters{
    font-size: $font-logo-sm;
    font-weight: $font-weight;
    text-shadow: 0 10px 20px $shadow-color;
    animation: fadeUp 1.5s ease-out;

    @media screen and (min-width: 40rem) {
        font-size: $font-logo-xsm;
    }

    @media screen and (min-width: 80rem) {
        font-size: $font-logo-bg;
    }


    
}

.project{

    &__title{
        font-weight: $font-weight;
        text-align: center;

    }

    label{
        text-align: center;
    }
}

.about{
    text-align: center;
    
}

.contact{
    text-align: center;

    &__link:link,
    &__link:visited{
        text-decoration: none;
        color: $color-primary;

        @media screen and (min-width: 100rem) {
            font-size: $font-sm;
        }

    }
    
}