body{
    font-size: 2rem;
    font-family: 'Lato', sans-serif;
};

.menu__link:link,
.menu__link:visited,{
    text-decoration: none;
    color: black;
}

.logo__letters{
    font-size: 20rem;

    &--i{

    }

    &--o{

    }
}