$font-sm: 2rem;
$font-md: 3rem;
$font-bg: 4rem;

$font-logo-xsm: 10rem;
$font-logo-sm: 20rem;
$font-logo-bg: 40rem;
$font-logo-hg: 70rem;

$font-weight: 300;

$color-primary: #e6e5ea;

$shadow-color: #38393a;