html{
    font-size: 62.5%;
}

#particles-js{
    position: fixed;
    height: 100vh;
    width: 100vw;
    z-index: -1;
}

body{
    z-index: 1;
}

@import "variables";
@import "../scss/0-Base/_base-dir.scss";
@import "../scss/1-Layout/_layout-dir.scss";
@import "../scss/2-Abstract/_abstract-dir.scss";
@import "../scss/3-components/_components-dir.scss";
