html {
  font-size: 62.5%; }

#particles-js {
  position: fixed;
  height: 100vh;
  width: 100vw;
  z-index: -1; }

body {
  z-index: 1; }

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

body {
  box-sizing: border-box;
  padding: 1.5rem 1.5rem;
  background: linear-gradient(#6542f4, #e02323) no-repeat;
  margin: 0 2rem 0 2rem; }
  @media screen and (max-width: 40rem) {
    body {
      margin: 0 1rem 0 1rem;
      padding: 1.5rem 1rem; } }

li {
  list-style: none; }

body {
  font-size: 2rem;
  font-family: 'Lato', sans-serif;
  color: #e6e5ea;
  font-weight: 300; }
  @media screen and (min-width: 100rem) {
    body {
      font-size: 3rem; } }

.menu__link:link, .menu__link:visited {
  text-decoration: none;
  color: #e6e5ea;
  font-weight: 300;
  transition: all .2s;
  padding: 1rem; }
  @media screen and (max-width: 40rem) {
    .menu__link:link, .menu__link:visited {
      font-size: 1.5rem;
      padding: 0.5rem; } }

.menu__item {
  width: 20%;
  transition: all .2s; }
  @media screen and (max-width: 40rem) {
    .menu__item {
      width: 32%; } }
  .menu__item:hover {
    border-bottom: 1px solid #e6e5ea; }

.logo__letters {
  font-size: 20rem;
  font-weight: 300;
  text-shadow: 0 10px 20px #38393a;
  animation: fadeUp 1.5s ease-out; }
  @media screen and (min-width: 40rem) {
    .logo__letters {
      font-size: 10rem; } }
  @media screen and (min-width: 80rem) {
    .logo__letters {
      font-size: 40rem; } }

.project__title {
  font-weight: 300;
  text-align: center; }

.project label {
  text-align: center; }

.about {
  text-align: center; }

.contact {
  text-align: center;
  font-size: 2rem; }
  .contact__link:link, .contact__link:visited {
    text-decoration: none;
    color: #e6e5ea; }
    @media screen and (min-width: 100rem) {
      .contact__link:link, .contact__link:visited {
        font-size: 2rem; } }
  .contact__item {
    font-size: 2rem; }

.project {
  margin: 8rem 20%;
  display: flex;
  flex-direction: column;
  align-items: center; }
  .project__title {
    margin: 3rem auto 2rem auto;
    font-weight: 400; }
  .project__icon-link {
    flex-basis: 60%;
    border-radius: 4px; }
    .project__icon-link--img {
      width: 100%;
      margin: 0 auto;
      max-width: 120rem;
      border-radius: 3px; }

.about {
  margin: 20rem auto 20rem auto;
  max-width: 120rem; }
  .about div {
    margin-top: 3rem; }

.contact {
  margin-top: 10rem;
  border-top: 1px solid #e6e5ea; }
  @media screen and (min-width: 65rem) {
    .contact {
      font-size: 4rem; } }
  .contact__item:not(:first-child) {
    margin-top: 1rem; }
  .contact__link img {
    width: 20%; }
    @media screen and (min-width: 80rem) {
      .contact__link img {
        width: 8%; } }
    @media screen and (min-width: 100rem) {
      .contact__link img {
        width: 4%; } }

.header {
  margin: 2rem auto 2rem auto; }
  @media screen and (max-width: 40rem) {
    .header {
      margin: auto auto auto auto; } }
  .header .menu {
    display: flex;
    flex-basis: 100%;
    list-style: none;
    border-radius: 3px; }
    .header .menu__item {
      flex-basis: 33%;
      text-align: center; }

.logo {
  transition: all 1s; }
  .logo .logo__name {
    display: flex;
    font-weight: 300;
    font-size: 5rem;
    position: fixed;
    transition: all 1s; }
  .logo__img {
    width: 50rem;
    height: 50rem; }

svg {
  width: 30rem; }

.menu {
  z-index: 100; }

.logo__letters {
  height: 50vh;
  display: flex;
  align-items: flex-end;
  justify-content: center;
  margin-bottom: 20vh; }
  @media screen and (max-width: 40rem) {
    .logo__letters {
      margin-bottom: 5vh; } }

@keyframes fadeUp {
  0% {
    opacity: 0; }
  80% {
    opacity: 0; }
  100% {
    opacity: 1; } }

.logo__letters {
  margin: 15% 0; }
