.project{
    margin: 8rem 20%;
    display: flex;
    flex-direction: column;
    align-items: center;
    

    &__title{
        margin: 3rem auto 2rem auto;
        font-weight: 400;
    }

    &__icon-link{
        flex-basis: 60%;
        border-radius: 4px;

        &--img{
            width: 100%;
            margin: 0 auto;
            max-width: 120rem;
            border-radius: 3px;
        }
    }


    
}



.about{
    margin: 20rem auto 20rem auto;
    max-width: 120rem;

    div{
        margin-top: 3rem;   
    }

}