.header{
    margin-top: 2rem;

    .menu{
        display: flex;
        flex-basis: 100%;
        list-style: none;

        &__item{
            flex: 1;
            text-align: center;
        }

    }
}

.logo__name{
    display: none;
}