.header{
    margin: 2rem auto 2rem auto;

    @media screen and (max-width: 40rem){
        margin: auto auto auto auto;
    }


    .menu{
        display: flex;
        flex-basis: 100%;
        list-style: none;
        border-radius: 3px;

        &__item{
            flex-basis: 33%;
            text-align: center;
        }

    }
}


.logo{
    transition: all 1s;

    .logo__name{
        display: flex;
        font-weight: 300;
        font-size: 5rem;
        position: fixed;
        transition: all 1s;
    }

    &__img{
        width: 50rem;
        height: 50rem;
    }

}

svg{
    height: 35rem;
    width: 35rem;
}
