.header{
    margin: 2rem auto 2rem auto;


    .menu{
        display: flex;
        flex-basis: 100%;
        list-style: none;
        border-radius: 3px;

        &__item{
            flex-basis: 33%;
            text-align: center;
        }

    }
}


.logo{
    transition: all 1s;

    .logo__name{
        display: none;
        font-weight: 300;
        border-bottom: 1px solid #e6e5ea;
        position: fixed;

    }

}
