.logo__letters{
    height: 75vh;
    display: flex;
    align-items: flex-end;
    justify-content: center;
    margin-bottom: 20vh;

    @media screen and (max-width: 40rem){
        margin-bottom: 5vh;
    }
}